target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

#代码生成器
renren-generator/
#未生效的模块
zsj_task/

# 忽略提交文件
**/mvnw
**/mvnw.cmd
**/.mvn
#编译文件
**/target/
.idea
#nacos输出文件
**/nacos/